/* AboutUs */

.about-us-container > .about-us {
  margin-top: 30px;
  position: relative;
}

.about-us-container > .about-us .class-img {
  position: relative;
}

.about-us-container > .about-us .class-img .barrette-top {
  position: absolute;
  top: -15px;
  left: -45px;
}

.about-us-container > .about-us .class-img .barrette-bottom {
  position: absolute;
  bottom: -25px;
  right: 440px;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  width: 550px;
  height: 450px;
  top: 20%;
  right: 70px;
  position: absolute;
  background-color: #ffffff;
  box-sizing: border-box;
}

.about-us-text > img {
  top: -9px;
  position: absolute;
  width: 106%;
  right: -33px;
}

.about-us-text span {
  color: var(--green);
}

/* SERVICES */

.services-container .services-list {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.services-list .services-item {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.services-list .services-item .dot {
  width: 13px;
  height: 19px;
  margin-right: 20px;
}

.services-list .services-item .service-name {
  font-size: 40px;
  line-height: 50px;
}

.services-list .services-item .plus-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
}

@media (max-width: 440px) {
  .about-us-container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .about-us {
    display: flex;
    flex-direction: column;
  }

  .about-us-text {
    position: relative;
    width: 100%;
    top: auto;
    right: auto;
    padding-top: 0;
  }

  .class-img {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

  .about-us-text > img {
    top: 44px;
    width: 98%;
    right: 0px;
  }

  .about-us-container > .about-us .class-img .barrette-top {
    left: 69px;
  }

  .about-us-container > .about-us .class-img .barrette-bottom {
    bottom: 7px;
    right: 53px;
  }

  .class-img .img {
    width: 187px;
  }
}
