.board{
    background: url("board.svg") no-repeat;
    width: 600px;
    height: 400px;
}
.base{
    background: url("base.svg") no-repeat;
    margin-left: 120px;
    margin-top: 20px;
    width: 430px;
    height: 350px;
}
img{
    width: 240px;
    height: 150px;
    position: absolute;
    top: 70px;
    left: 220px;
}